
<%#TODO: make two side by side divs%>

<div id="container">
    <div id="left">
        <h1 id="logo">Rental-Analytics</h1>    
        <h3 id="tagline">Helping tenants find homes they love</h3>
    </div>
    
    <div id="right">
        <h3 id="login">Login</h3>
        <% if flash[:error] %>
            <p id="error"><strong><%= flash[:error] %></strong></p>
        <% end %>
        
        <%= form_with url: login_path, local: true do |f| %>
            <%= f.label :username %>
            <br>
            <%= f.text_field :username %>
            <br><br>
            <%= f.label :password %>
            <br>
            <%= f.password_field :password %>
            <br><br>
            <%= f.submit 'Login', id: 'login-btn' %>
        <% end %>
    </div>
    
    
</div>