<h3><%= "Details for #{@rental.street_address}, #{@rental.suburb.name}" %></h3>
<%= link_to '[Edit]', edit_rental_path %>
<%= link_to '[Delete]', rental_path(@rental.id), method: 'delete' %>
<br>

<%= image_tag @rental.image, class: 'rental_img' %>
<p><strong>Bedrooms:</strong> $<%= @rental.bedrooms %></p>
<p><strong>Price:</strong> $<%= @rental.price %></p>
<p><strong>Travel duration:</strong> <%= (@rental.total_travel_time / 3600 ).round 2 %> hours weekly</p>