<h3><%= "Details for #{@rental.street_address}, #{@rental.suburb}" %></h3>
<%= link_to '[Edit]', edit_rental_path %>
<%= link_to '[Delete]', rental_path(@rental.id), method: 'delete' %>
<br>
<%= image_tag @rental.image, class: 'rental_img' %>
<p>Price: $<%= @rental.price %></p>