<h4 class="display-4">Edting destination: <%= @destination.street_address %>, <%= @destination.suburb.name %></h3>
<<<<<<< HEAD
<h3>Edting destination: <%= @destination.street_address %>, <%= @destination.suburb.name %></h3>
=======
>>>>>>> d7a55316e7c06dbb756c7d8a5811e1e2f31bb531
<%= render partial: '/shared/form', locals: {model: @destination, table: Destination} %>
