<!DOCTYPE html>
<html>
  <head>
    <title>Rental Apartment App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Rental Apartments</h1>
    <%= link_to 'All Rentals', rentals_path %>
    <%= link_to 'Add Rental', new_rental_path %>
    <hr class="style-one">
    <%= yield %>
  </body>
</html>
